---
# Install latest operating system updates
os_system_updates: False

# DC/OS Release
dcos_version: '1.11.0'

# Name of the DC/OS Cluster
dcos_cluster_name: 'demo'

# If planning to upgrade a previous deployed DC/OS Cluster,
# uncomment the following variables.
#dcos_upgrade: True
#dcos_upgrade_from_version: '1.10.0'

# Deploy Mesosphere Enterprise DC/OS or DC/OS OSS?
dcos_deploy_ee_package: False


# IaaS target for DC/OS deployment
# options: aws, gcp, azure or onprem
dcos_iaas_target: ''

# Only required if dcos_Iaas_target := onprem
#dcos_ip_detect_interface: 'eth0'

# IP Address of the Bootstrap Node (internal/private)
dcos_bootstrap_ip: '192.1.1.1'

# Only required when deploying Mesosphere Enterprise DC/OS
dcos_ee_security: 'disabled'
dcos_ee_license_key_contents: ''
dcos_ee_superuser_username: admin
# Default password:= admin
dcos_ee_superuser_password_hash: "$6$rounds=656000$8CXbMqwuglDt3Yai$ZkLEj8zS.GmPGWt.dhwAv0.XsjYXwVHuS9aHh3DMcfGaz45OpGxC5oQPXUUpFLMkqlXCfhXMloIzE0Xh8VwHJ."

# Configure rexray to enable support of external volumes (only for Mesosphere Enterprise DC/OS)
# Note: Set rexray_config_method: file and edit ./roles/bootstrap/templates/rexray.yaml.j2 for a custom rexray configuration
# options: empty, file
dcos_ee_rexray_config_method: empty
