[workstations]
${workstation_public_ips}

[masters]
${master_public_ips}

[agents]
${agent_public_ips}

[agents_public]
${public_agent_public_ips}

[common:children]
workstations
masters
agents
agents_public
