[bootstraps]
bootstrap1-dcos112s.example.com

[masters]
master1-dcos112s.example.com
master2-dcos112s.example.com
master3-dcos112s.example.com
master4-dcos112s.example.com
master5-dcos112s.example.com

[agents_private]
agent1-dcos112s.example.com
agent2-dcos112s.example.com
agent3-dcos112s.example.com
mountvolumeagent1-dcos112s.example.com
remoteagent1-dcos112s.example.com
remoteagent2-dcos112s.example.com
remoteagent3-dcos112s.example.com

[agents_public]
publicagent1-dcos112s.example.com
publicagent2-dcos112s.example.com
publicagent3-dcos112s.example.com

[bootstraps:vars]
node_type=bootstrap

[masters:vars]
node_type=master
dcos_legacy_node_type_name=master

[agents_private:vars]
node_type=agent
dcos_legacy_node_type_name=slave

[agents_public:vars]
node_type=agent_public
dcos_legacy_node_type_name=slave_public

[agents:children]
agents_private
agents_public

[common:children]
bootstraps
masters
agents
agents_public
