---
bootstrap_url: http://{{ dcos_bootstrap_ip }}:{{ dcos_port_webserver }}
cluster_name: '{{ dcos_cluster_name }}'

{% if dcos_exhibitor == "static" %}
exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for master in dcos_master_list %}
- {{ master }}{{ '\n' }}
{%- endfor %}
{% endif %}

master_external_loadbalancer: {{ dcos_master_address }}

{% if dcos_exhibitor == "aws_s3" %}
exhibitor_storage_backend: aws_s3
exhibitor_address: {{ dcos_exhibitor_address }}


{% if dcos_exhibitor_explicit_keys == True %}
exhibitor_explicit_keys: 'true'
aws_access_key_id: {{ dcos_aws_access_key_id }}
aws_secret_access_key: {{ dcos_aws_secret_access_key }}
{% else %}
exhibitor_explicit_keys: 'false'
{% endif %}
aws_region: {{ dcos_aws_region }}
s3_bucket: {{ dcos_s3_bucket }}
s3_prefix: {{ dcos_s3_prefix }}
master_discovery: master_http_loadbalancer
num_masters: {{ groups['masters'] | length }}
{% endif %}

{% if dcos_exhibitor == "azure" %}
exhibitor_storage_backend: azure
exhibitor_address: {{ dcos_exhibitor_address }}
exhibitor_azure_account_name: {{ dcos_exhibitor_azure_account_name }}
exhibitor_azure_account_key: {{ dcos_exhibitor_azure_account_key }}
exhibitor_azure_prefix: {{ dcos_exhibitor_azure_prefix }}
master_discovery: master_http_loadbalancer
num_masters: {{ groups['masters'] | length }}
{% endif %}

resolvers:
{% for resolver in dcos_resolvers %}
- {{ resolver }}{{ '\n' }}
{%- endfor %}

dns_search: {{ dcos_dns_search }}

{% if dcos_iaas_target != "onprem" %}
ip_detect_public_filename: /genconf/ip-detect-public
{% endif %}

# (only for Mesosphere Enterprise DC/OS)
{% if dcos_deploy_ee_package == True %}
superuser_username: {{ dcos_ee_superuser_username }}
superuser_password_hash: {{ dcos_ee_superuser_password_hash }}
license_key_contents: {{ dcos_ee_license_key_contents }}
security: {{ dcos_ee_security }}
{% if dcos_iaas_target != "onprem" %}
fault_domain_enabled: true
{% else %}
fault_domain_enabled: false
{% endif %}
{% endif %}

{% if dcos_ee_rexray_config_method == 'file' %}
{% include "rexray.yaml.j2" %}
{% endif %}
