---
bootstrap_url: http://{{ bootstrap_ip }}:{{ port_webserver }}
cluster_name: '{{ cluster_name }}'

exhibitor_storage_backend: aws_s3
exhibitor_explicit_keys: 'true'
exhibitor_address: {{ exhibitor_address }}
aws_access_key_id: {{ aws_access_key_id }}
aws_secret_access_key: {{ aws_secret_access_key }}
aws_region: {{ aws_region }}
s3_bucket: {{ s3_bucket }}
s3_prefix: {{ s3_prefix }}
master_discovery: master_http_loadbalancer
num_masters: {{ groups['masters'] | length }}
resolvers:
{% for resolver in resolvers %}
- {{ resolver }}{{ '\n' }}
{%- endfor %}

dns_search: {{ dns_search }}

ip_detect_public_filename: /genconf/ip-detect-public

{% if enterprise_dcos == true %}
fault_domain_enabled: true
superuser_username: {{ superuser_username }}
superuser_password_hash: {{ superuser_password_hash }}
license_key_contents: {{ license_key_contents }}
security: {{ security }}
{% endif %}

{% if rexray_config_method == 'file' %}
{% include "rexray.yaml.j2" %}
{% endif %}
