---
bootstrap_url: http://{{ bootstrap_ip }}:{{ port_webserver }}
cluster_name: '{{ cluster_name }}'

exhibitor_storage_backend: static
master_discovery: static
master_list:
{% for master in master_list %}
- {{ master }}{{ '\n' }}
{%- endfor %}

resolvers:
{% for resolver in resolvers %}
- {{ resolver }}{{ '\n' }}
{%- endfor %}

dns_search: {{ dns_search }}

{% if enterprise_dcos == true %}
fault_domain_enabled: false
superuser_username: {{ superuser_username }}
superuser_password_hash: {{ superuser_password_hash }}
license_key_contents: {{ license_key_contents }}
security: {{ security }}
{% endif %}

{% if rexray_config_method == 'file' %}
{% include "rexray.yaml.j2" %}
{% endif %}
