---
bootstrap_url: http://{{ workstation_ip }}:{{ port_webserver }}
cluster_name: '{{ cluster_name }}'
exhibitor_storage_backend: shared_filesystem
exhibitor_fs_config_dir: /shared-mount
master_discovery: static
master_list:
{{ master_list }}
superuser_username: {{ superuser_username }}
superuser_password_hash: {{ superuser_password_hash }}
resolvers:
{{ resolvers }}
dns_search: {{ dns_search }}
rexray_config_method: {{ rexray_config_method }}
rexray_config_filename: genconf/rexray.yaml
security: {{ security }}
