---
bootstrap_url: http://{{ workstation_ip }}:{{ port_webserver }}
cluster_name: '{{ cluster_name }}'
exhibitor_storage_backend: zookeeper
exhibitor_zk_hosts: {{ workstation_ip }}:2181
exhibitor_zk_path: /dcos
master_discovery: static
master_list:
{{ master_list }}
superuser_username: {{ superuser_username }}
superuser_password_hash: {{ superuser_password_hash }}
resolvers:
{{ resolvers }}
dns_search: {{ dns_search }}
security: {{ security }}
{% if rexray_config_method == 'file' %}
{% include "rexray.yaml.j2" %}
{% endif %}
