{
  "use-ldaps": false,
  "enforce-starttls": false,
  "port": 389,
  "lookup-password": "{{ ldap_password }}",
  "lookup-dn": "cn=Administrator,cn=Users,dc=mesosphere,dc=com",
  "dntemplate": "cn=%(username)s,cn=Users,dc=mesosphere,dc=com",
  "host": "ads1.mesosphere.com"
}
